# Secrets
.env
*.key

# Logs
logs/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
ENV/
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# IDE
# .vscode/
.idea/
*.swp
*.swo
.DS_Store

# OS
Thumbs.db
